@charset "UTF-8";    

@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Playwrite+ES:wght@100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');

::-webkit-scrollbar{
    padding: 0;
    margin: 0;
}
:root{
    --font1: "Playwrite ES", 'coursive';
    --font2: "Passion One";
    --font3: "Playwrite NG Modern";
    --font4: "Love Ya Like A Sister", cursive;
}

*{
    margin: auto;
    padding: 0px;
}
html,body{
    margin: 0 auto;
}
header{
    background-color:#000000ee;
    color: white;
    padding: 2%;
    box-sizing: border-box;
    box-shadow: 3px 3px 10px rgb(139, 118, 118);
    margin-bottom: 2%;
}
header h1{
    border-radius: 10px;
    font-family: var(--font1);
    font-variant: small-caps;
    font-weight: bolder;
    text-align: center;
    text-shadow: 1px 1px 20px rgb(146, 143, 143);
}
header p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: 0.6px;
    text-align: center;
    /* text-shadow: 1px 1px 1px rgba(255, 254, 254, 0.897); */
    text-shadow: 1px 1px 20px rgb(146, 143, 143);
    font-size: 2.5vh;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3vh;
    font-family: var(--font4);
    font-weight: 500;
}
section > p#bg1{
    background-color: rgba(0, 0, 0, 0.39);
    padding: 5px;
    color: #fff;
    font-weight: 600;
    border-radius: 2px;
    text-align: left;
    font-size:1em ;
}

section > p#bg2{
    text-align: left;
    background-color: rgba(0, 0, 0, 0.39);
    padding: 5px;
    color: #fff;
    font-weight: 600;
    border-radius: 2px;
}
section > p#bg3{
    text-align: left;
    background-color: rgba(0, 0, 0, 0.39);
    padding: 5px;
    color: #fff;
    font-weight: 600;
    border-radius: 2px;
}

footer{
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 40%;
}

.imagem{
    background-image: url(imagem/aestheticeug.jpg);
    background-attachment:fixed ;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.imagem2{
    background-image: url(imagem/nurseug.jpg);
    background-attachment:fixed ;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
}
.imagem3{
    background-image: url(imagem/selfieeug.jpg);
    background-attachment:fixed ;
    background-position: top center;
    background-repeat: no-repeat;
    background-size:cover;
}


@media only screen and (max-width: 375px) {
    body {
        font-size: 16px;
        padding: 15px;
    }

    section {
        padding: 5vh 10px;
        font-size: 4vw;
    }

    header, .footer {
        text-align: center;
        padding: 10px;
    }

    p {
        padding: 5px;
        font-size: 3vw;
    }
}

@media only screen and (max-width: 375px) {
    main div h1 {
        font-size: 40px;
    }

    main div a {
        font-size: 25px;
        padding: 8px;
    }

    .bottom-main a {
        font-size: 20px;
        padding: 8px;
    }

    .text-bor {
        font-size: 15px;
    }
}

button{
    margin: auto;
}
#pedido{
    display: inline-block;
    font-size: 20px;
    font-family: var(--font1);
    font-weight: 600;
    color: #ff4b5c;
    cursor: pointer;
    text-align: center;
}
.yes{
    display: inline-block;
    padding: 10px 30px;
    font-size: 2vh;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #ff4b5c;
    border-radius: 2px;
    cursor: pointer;
    border: none;
}

.yes:hover{
    background-color: #ff1500;
    
}

.not{    
    display: inline;
    padding: 10px 30px;
    font-size: 2vh;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #ff4b5c;
    border: none;
    border-radius: 2px;
    text-decoration: none;
    cursor: pointer;
}
.not:hover{
    background-color: black;
}

.love-button:hover {
    background-color: #D21404;
    transform: translateY(-3px);
}

.love-button:active {
    background-color: #D21404;
    transform: translateY(1px);
}



.btn{
    display: inline-block;
    padding: 15px 30px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #D21404;
    border: none;
    border-radius: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-left:40%;
}